.header {
    display: flex;
    padding: 20px;
}

.header .logo {
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header .profile-link {
    margin-right: 10px;
}
.caption {
    margin-top: 10px
}

.tags {
    margin-top: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    text-align: center;
}

.image-wrapper img {
    width: 500px;
    height: 500px;
}
